.Rproj.user
.Rhistory
.RData
.Ruserdata
Burkina Luedeling et al 2018.html
Burkina_Example.Rproj
Map.pdf
Map_DL.png
Model_Overview.pdf
Model_Overview.png
Model_Overview_DL_big.pdf
agricultural-and-forest-meteorology.csl
Figures
fruits_vegetables_buffer.docx
Sediment_input_table_decriptions.xls
Sediment_input_table_decsriptions.xls
results
rsconnect
